@import 'reset.css';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Andika');

:root {
    --lighten-5: #e8f5e9;
    --lighten-4: #c8e6c9;
    --lighten-3: #a5d6a7;
    --lighten-2: #81c784;
    --lighten-1: #66bb6a;
    --normal: #4caf50;
    --darken-1: #43a047;
    --darken-2: #388e3c;
    --darken-3: #2e7d32;
    --darken-4: #1b5e20;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Andika', sans-serif;
    color: var(--darken-3);
}

#main-container {
    padding-top: 110px;
}

body * {
    box-sizing: border-box;
}

.main-header {
    background-color: var(--lighten-5);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    border-bottom: solid 1px var(--lighten-3);
    box-shadow: 0px 2px 5px 0px rgba(179, 183, 174, 0.5);
    z-index: 2;
}

.main-header__logo {
    margin: 8px 16px;
}

.main-header__logo img {
    width: auto;
    height: 50px;
}

.main-header__nav {
    margin: 8px 0 16px 0;
    font-weight: 700;
}

.main-header__nav__link {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--darken-4);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.main-header__nav__link:hover,
.main-header__nav__link:focus {
    color: var(--lighten-5);
    background-color: var(--darken-3);
}

.nav-target {
    position: relative;
    bottom: calc(110px + 1rem);
}

.image-1>img,
.image-2>img {
    width: 100%;
    height: auto;
    display: block;
}

section[class^="main__"] {
    margin: 2rem 0;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.container>h1 {
    color: var(--darken-4);
    margin: 1rem 0;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
}

.main__product p {
    line-height: 1.5rem;
}

.main__pricing__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.price-card {
    background-color: var(--lighten-5);
    text-align: center;
    border: 1px solid var(--normal);
    margin: 1.5rem;
}

.price-card h1 {
    font-size: 1.5rem;
    padding: 0.4rem;
    background-color: var(--darken-3);
    color: var(--lighten-4);

}

.price-card h2 {
    font-size: 2rem;
    padding: 0.5rem;
    text-decoration: underline;
}

.price-card li {
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 0 1rem;
}

button {
    display: inline-block;
    padding: 0.33rem 0.8rem;
    margin: 0.75rem;
    text-decoration: none;
    background: transparent;
    border-radius: 0.3rem;
    border: var(--darken-3) 2px solid;
    color: var(--darken-3);
    font-family: 'Andika', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out;
}

button:hover,
button:focus {
    color: var(--lighten-5);
    background: var(--darken-3);
    outline: none;
}

.process__video {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.process__video #video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main__process__flex {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    background: var(--lighten-5);
    border: 3px dotted var(--darken-3);
}

.main__process__flex>p,
.main__process__flex>form {
    flex: 1;
    margin: 1rem;
}

.main__process__flex>p {
    padding: 2rem;
    line-height: 1.2rem;
    background: white;
    border-radius: 2rem;
}

.main__process__flex>form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.main__process__flex>form label {
    font-size: 1.5rem;
    margin: 1rem;
}

.main__process__flex>form input {
    font-family: inherit;
    font-size: 100%;
    border-radius: 0.3rem;
    border: 1px solid var(--normal);
    padding: 0.3rem;
    outline: none;
    text-align: center;
}

.main-footer__info {
    background-color: var(--darken-1);
}

.main-footer__copyright {
    background-color: var(--darken-4);
    color: var(--lighten-3);
    text-align: center;
}

.main-footer__bio {
    color: var(--lighten-4);
    padding: 1rem 0;
}

.main-footer__bio h1 {
    margin: 0.5rem 0;
    color: var(--lighten-5);
    font-weight: 700;
    font-size: 1.2rem;
}

.price-card,
.image-1,
.image-2,
.process__video,
.main__process__flex {
    box-shadow: 0px 0px 7px 1px rgba(51, 56, 42, 0.47);
}

@media (min-width: 422px) {

    .main-header__nav {
        margin: 0;
    }

    #main-container {
        padding-top: 68px;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .nav-target {
        position: relative;
        bottom: calc(68px + 1rem);
    }
}

@media (min-width: 750px) {
    .container {
        width: 85%;
    }
}

@media (min-width: 1100px) {
    .container {
        width: 75%;
    }
}